<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.w3.org/2001/XMLSchema-instance http://www.springframework.org/schema/instance/spring-instance.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--Job-->
    <bean id="quartzTaskDemo1" class="com.ssm.controller.QuartzTaskDemo1"></bean>

    <!--JobDetail-->
    <bean id="jobDetail1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="quartzTaskDemo1"></property>
        <property name="targetMethod" value="soutDate"></property>
        <!--任务不并发调度，这意味着下次任务必须等上次任务结束才执行-->
        <property name="concurrent" value="false"/>
    </bean>
    <bean id="jobDetail2" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ssm.controller.QuartzTaskDemo2"></property>
        <!--为任务成员变量赋值-->
        <property name="jobDataAsMap">
            <map>
                <entry key="name" value="zs"></entry>
            </map>
        </property>
    </bean>

    <!--Trigger-->
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail1"></property>
        <property name="repeatInterval" value="1000"></property>
    </bean>
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="cronExpression" value="0/10 * * * * ?"></property>
        <property name="jobDetail" ref="jobDetail2"></property>
    </bean>

    <!--SchedulerFactoryBean-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <array>
<!--                <ref bean="simpleTrigger"></ref>-->
                <ref bean="cronTrigger"></ref>
            </array>
        </property>
    </bean>
</beans>